@mixin cta-btn {
    font-size: 0.75rem;
    font-family: $font__main;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $color__pink;
    color: $color__darkgray;
    border: 1px solid $color__darkgray;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    max-width: 70%;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &:hover {
      background-color: $color__darkgray;
      border: 1px solid $color__pink;
      color: $color__pink;
    }
}

@mixin pink_btn {
    background-color: $color-pink;
    border-radius: 9999px;
}